Django==2.0.4
pytz==2018.3
Fabric3==1.14.post1
django-markup==1.2
PyYAML==3.12
iscc==1.0.0
docx2txt==0.7
mcrpc==1.0.1
Markdown==2.6.11
martor==1.2.5
django-object-actions==1.0.0
django-suit==0.2.26
xhtml2pdf==0.2.1
django-easy-pdf==0.1.1
