Django==2.2.6
pytz==2019.2
Fabric3==1.14.post1
django-markup==1.4.1
PyYAML==5.1
iscc==1.0.4
docx2txt==0.8
mcrpc==1.0.2
Markdown==3.1.1
martor==1.4.1
django-object-actions==1.1.0
django-suit==0.2.28
xhtml2pdf==0.2.1
django-easy-pdf==0.1.1
