<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Content Blockchain - Smart License Demo</title>
</head>
<body>
<h1>Content Blockchain - Smart License Demo</h1>
<h2>Rights Profiles</h2>
<h3>Example: <a href="rights-profile/RP-AD-NC-AT/">rights-profile/RP-AD-NC-AT/</a></h3>
<p>Test with these short codes in the url:</p>
<ul>
  <li>License Grants:</li>
  <ul>
    <li>AD > Adapt</li>
    <li>RP > Reproduce</li>
    <li>RS > Resale</li>
    <li>SH > Share</li>
  </ul>
  <li>License Restrictions:</li>
  <ul>
    <li>NC > Non-Commercial</li>
    <li>IP > No Industrial property</li>
  </ul>
    <li>License Obligations:</li>
  <ul>
    <li>AT > Attribution</li>
    <li>IA > Indicate Adaptions</li>
  </ul>
</ul>
<h3>Smart License Demo Dashboard: <a href="demo/">Demo</a></h3>
</body>
</html>
