{% load markup_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
<div class="row">
  <div class="column"><img src="{% static 'coblo-logo.png' %}" width="200px"></div>
  <div class="column">
    <div class="demo-button-container">
      <a class="demo-button" href="pdf/">PDF Version</a>
    </div>
  </div>
</div>

<div id="content">
  {{ content|safe }}
</div>
</body>
</html>
