{% extends "admin/base.html" %}
{% load admin_static i18n%}

{# Additional <head> content here, some extra meta tags or favicon #}
{% block extrahead %}
{% endblock %}

{% block header_time %}{% endblock %}

{% block userlinks %}
  <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}

{# Additional CSS includes #}
{#{% block extrastyle %}#}
{#  <link rel="stylesheet" type="text/css" href="{% static 'css/my_project.css' %}" media="all">#}
{#{% endblock %}#}


{# Additional JS files in footer, right before </body> #}
{#{% block extrajs %}#}
{#  <script type="text/javascript" src="{% static 'js/my_project.js' %}"></script>#}
{#{% endblock %}#}


{# Footer links (left side) #}
{% block footer_links %}
  <a href="//smartlicense.coblo.net" class="icon"><i class="icon-home"></i>Smart
    License Demo</a>
{% endblock %}

{# Additional header content like notifications or language switcher #}
{% block header_content %}

{% endblock %}

{# Footer branding name (center) #}
{% block footer_branding %}
{% endblock %}


{# Footer copyright (right side) #}
{% block copyright %}
  Copyright &copy; 2018-2020 Content Blockchain Project<br>Developed by
  <a href="//content-blockchain.org" target="_blank">Coblo</a>
{% endblock %}
